# 제목1
## 제목2
### 제목3
#### 제목4
##### 제목5

markdown(m)  /  code(y)  (단축키)

In [6]:
print("A")

A

In [4]:
print("Hello world")

Hello world

In [5]:
print("A")

A

In [7]:
value = input("값을 입력해주세요.")

값을 입력해주세요.10

In [8]:
value

'10'

# 변수

In [9]:
x = 10

In [10]:
x

10

In [11]:
x, y, z = 10, 20, 30

In [12]:
x

10

In [13]:
y

20

In [14]:
z

30

## 1. 정수형

In [15]:
type(10)

int

In [16]:
type(10.0)

float

In [18]:
a = 2
b = 3
a, b

(2, 3)

In [19]:
a + b

5

In [20]:
a - b

-1

In [21]:
a * b

6

In [22]:
a / b

0.6666666666666666

In [23]:
a ** b

8

In [24]:
b ** a

9

In [25]:
a // b

0

In [26]:
b // a

1

In [27]:
a % b

2

In [28]:
b % a

1

In [31]:
print(a + b * a)
print(
    (a + b) * a
)

8
10

#### 연습문제1.
아래와 같이 a = 7, b = 3.0 로 초기화 하고
a를 b로 나누었을 때 몫과 나머지를 각각 c와 d 라는 변수에 초기화한 후 출력하라.
그리고 e라는 변수에 a의 b제곱을 초기화하고 출력하라.

In [32]:
a = 7
b = 3.0
c = a // b
d = a % b
e = a ** b
print(c)       # b가 실수형이기 때문에 -> 결과도 실수형으로 뜬다.
print(d)
print(e)

2.0
1.0
343.0

In [33]:
a, b = 7, 3.0
type(a), type(b)

(int, float)

In [34]:
c = int(b)
type(c)

int

In [35]:
c

3

In [37]:
d = float(a)
type(d)

float

In [38]:
d

7.0

#### 연습문제2.
반 평균을 구하시오.
단 변수를 사용하여 계산하고,
 변수의 이름을 학생의 이름으로 하십시요.
- 반드시 정수로 출력하십시요.

In [41]:
mike = 80
judy = 75
sera = 100

avg = (mike + judy + sera) / 3
avg

85.0

In [42]:
avg = int(avg)
avg

85

## 2. Bool (True, False)

In [43]:
a = True
a

True

In [44]:
b = False
b

False

In [45]:
type(a)

bool

## 3. 비교연산자

In [46]:
a, b = 1, 2

In [48]:
print(a < b)
print(a <= b)
print(a > b)
print(a >= b)
print(a == b)
print(a != b)

True
True
False
False
False
True

In [49]:
True and True

True

In [50]:
True and False

False

In [51]:
False and False

False

In [52]:
True or True

True

In [53]:
True or False

True

In [54]:
False or False

False

In [56]:
a = 10
print(a > 10 or a == 10)

True

In [57]:
not a > 10

True

#### 연습문제3.
사용자로부터 점수를 3개 입력받아
모든 점수가 65점보다 클 경우 True 아닐경우 False
를 출력하세요

In [61]:
score1 = int(input("점수1 : "))
score2 = int(input("점수2 : "))
score3 = int(input("점수3 : "))

print((score1 > 65) and (score2 > 65) and (score3 > 65))

점수1 : 60
점수2 : 70
점수3 : 80
False

## 4. NoneType

In [62]:
a = None
a

In [63]:
print(a)

None

## 5. 문자형

In [64]:
quote1 = "안녕하세요. 저는 김형순입니다."
print(quote1)
type(quote1)

안녕하세요. 저는 김형순입니다.

str

In [65]:
quote2 = '안녕하세요. 저는 김형순입니다.'
quote2

'안녕하세요. 저는 김형순입니다.'

#### multiline

In [66]:
quote3 = """안녕하세요.      
저는 김형순입니다."""
print(quote3)      # 줄바꿈은 따옴표 세 번!!!!

안녕하세요.
저는 김형순입니다.

#### 연산자

In [67]:
a = "사과"
b = "과일"

In [69]:
c = a + b
c

'사과과일'

In [70]:
a * 10

'사과사과사과사과사과사과사과사과사과사과'

#### Escape Code

In [74]:
quote3 = """안녕하세요.  
저는 김형순입니다."""
print(quote3)      # 줄바꿈은 따옴표 세 번!!!!

안녕하세요.
저는 김형순입니다.

In [75]:
quote3

'안녕하세요.  \n저는 김형순입니다.'

In [76]:
quote = "안녕하세요. \n저는 김형순입니다."
print(quote)

안녕하세요.
저는 김형순입니다.

In [77]:
quote2 = "\"김형순\"입니다."
print(quote2)

"김형순"입니다.

In [79]:
quote3 = '"김형순"입니다.'
quote3

'"김형순"입니다.'

## 6. Indexing, Slicing

In [81]:
quote = "안녕하세요. 김형순입니다."
quote

'안녕하세요. 김형순입니다.'

In [82]:
quote[0]

'안'

In [83]:
quote[1]

'녕'

In [84]:
quote[-1]

'.'

In [85]:
quote[-2]

'다'

In [86]:
quote[0:6]

'안녕하세요.'

In [87]:
quote[3:12]

'세요. 김형순입니'

In [88]:
quote[:12]

'안녕하세요. 김형순입니'

In [89]:
quote[5:]

'. 김형순입니다.'

In [90]:
quote[:]

'안녕하세요. 김형순입니다.'

In [91]:
quote[::2]

'안하요 형입다'

In [92]:
quote[::3]

'안세 순다'

In [93]:
quote[::-1]

'.다니입순형김 .요세하녕안'

In [94]:
quote[::-2]

'.니순김.세녕'

#### 연습문제4.
a="20190505chicken19000"는 잘못 쓰여진 변수이다.   
2019는 year이라는 변수에, 그 다음 0505를 day라는 변수에,   
chicken을 menu라는 변수에, 19000을 money라는 변수에   
인덱싱을 사용하여 각각 저장하고 출력하시오.

In [95]:
a = "20190505chicken19000"

year = a[:4]
day = a[4:8]
menu = a[8:15]
money = a[15:]

print(year, day, menu, money)

2019 0505 chicken 19000

# 문자열 포맷팅

In [96]:
name = "김형순"
major = "Computer"

In [97]:
intro = "안녕하세요. %s입니다. 전공은 %s입니다." %(name, major)
intro

'안녕하세요. 김형순입니다. 전공은 Computer입니다.'

In [98]:
intro = "안녕하세요. {}입니다. 전공은 {}입니다.".format(name, major)
intro

'안녕하세요. 김형순입니다. 전공은 Computer입니다.'

In [100]:
intro = "안녕하세요. {1}입니다. 전공은 {0}입니다.".format(name, major)
intro

'안녕하세요. Computer입니다. 전공은 김형순입니다.'

In [102]:
pi = 3.141592
pi_def = "pi는 %f입니다." % pi
pi_def

'pi는 3.141592입니다.'

In [105]:
pi = 3.141592
pi_def = "pi는 %.2f입니다." % pi     ## 소수점 자르기
pi_def

'pi는 3.14입니다.'

In [106]:
f"pi는 {pi}입니다."

'pi는 3.141592입니다.'

#### 연습문제5.
a="90:30:80"이고 :을 기준으로 각각 수학점수, 영어점수, 과학점수이다.   
문자열 인덱싱을 이용해 각 점수를 각각    
math, english, science 변수에 저장하고,    
average 란 변수에 평균값을 저장하고 출력하시오.     

이 때 출력의 형태는 “평균 점수는 ~~입니다.”로 하시오.

In [114]:
a = "90:30:80"

math = int(a[0:2])
english = int(a[3:5])
science = int(a[6:8])

average = ( math + english + science ) / 3

f"평균 점수는 {average}입니다."

'평균 점수는 66.66666666666667입니다.'

# 문자열 함수

In [115]:
quote = "안녕하세요. 김형순입니다."
quote

'안녕하세요. 김형순입니다.'

In [116]:
len(quote)

14

In [117]:
quote.index(".")

5

In [118]:
"Apple".upper()

'APPLE'

In [119]:
"Apple".lower()

'apple'

In [120]:
quote.replace('.' , '?')

'안녕하세요? 김형순입니다?'

In [121]:
quote.count('.')

2

In [122]:
a = "   안녕하세요.   "
a

'   안녕하세요.   '

In [125]:
a.lstrip()

'안녕하세요.   '

In [126]:
a.rstrip()

'   안녕하세요.'

In [127]:
a.strip()

'안녕하세요.'

In [128]:
a = '90:30:80'
b = a.split(":")
b

['90', '30', '80']

In [130]:
fruit = "Apple Banana"
fruit_list = fruit.split(" ")
fruit_list

['Apple', 'Banana']

In [131]:
", ".join(fruit_list)

'Apple, Banana'

In [132]:
", ".join(b)

'90, 30, 80'

#### 연습문제6.    
a="  90:30:80  "이고 :을 기준으로 각각 수학점수, 영어점수, 과학점수이다.     
문자열 함수를 이용해 공백을 제거하고,    
각 점수를 각각 math, english, science 변수에 저장한 후,   
average 란 변수에 평균값을 저장하고 출력하시오.        
이 때 출력의 형태는 “평균 점수는 ~~입니다.”로 하시오.

In [139]:
a = " 90:30:80 "
a = a.strip()

score_list = a.split(":")
score_list

math, english, science = list(map(int, score_list))

average = ( math + english + science ) / 3

f"평균 점수는 {average}입니다."

'평균 점수는 66.66666666666667입니다.'

# 리스트 (list)
값 수정 가능

# 튜플 (tuple)
값 수정 불가

In [141]:
a = [1, 3.14, "Apple", ['a', 'b', 'c']]
a

[1, 3.14, 'Apple', ['a', 'b', 'c']]

In [142]:
len(a)

4

In [144]:
b = []
type(b)

list

In [145]:
c = list()
c

[]

## range

In [147]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [148]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [149]:
list(range(3, 10))

[3, 4, 5, 6, 7, 8, 9]

In [150]:
list(range(3, 30, 3))

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [154]:
list1 = list(range(3, 30, 3))
list1

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [156]:
tuple1 = tuple(list1)
tuple1

(3, 6, 9, 12, 15, 18, 21, 24, 27)

In [157]:
list1

[3, 6, 9, 12, 15, 18, 21, 24, 27]

## list's indexing & slicing

In [158]:
list1[0]

3

In [159]:
list1[1:5]

[6, 9, 12, 15]

In [160]:
list1[1:5:2]

[6, 12]

## list update

In [161]:
list1[0] = 'a'
list1

['a', 6, 9, 12, 15, 18, 21, 24, 27]

In [162]:
list1[1:4] = ['b', 'c', 'd']
list1

['a', 'b', 'c', 'd', 15, 18, 21, 24, 27]

In [164]:
del list1[-1]

In [165]:
list1

['a', 'b', 'c', 'd', 15, 18, 21, 24]

In [166]:
a = 10
a

10

In [167]:
del a

In [168]:
a

NameError: name 'a' is not defined

In [169]:
list1

['a', 'b', 'c', 'd', 15, 18, 21, 24]

In [170]:
'a' in list1

True

In [171]:
'e' in list1

False

In [172]:
'a' not in list1

False

In [173]:
list1

['a', 'b', 'c', 'd', 15, 18, 21, 24]

In [174]:
list1 + [10, 20]

['a', 'b', 'c', 'd', 15, 18, 21, 24, 10, 20]

In [176]:
print(list1 * 3)

['a', 'b', 'c', 'd', 15, 18, 21, 24, 'a', 'b', 'c', 'd', 15, 18, 21, 24, 'a', 'b', 'c', 'd', 15, 18, 21, 24]

In [177]:
len(list1)

8

# 리스트 함수

## append & extend  - 추가하기

In [178]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [179]:
list1.append('a')
list1

[0, 1, 2, 3, 4, 'a']

In [180]:
list1.extend(['b','c'])
list1

[0, 1, 2, 3, 4, 'a', 'b', 'c']

In [ ]:
# extend 는 += 과 동일하다

## list1.extend([1, 2])
## list1 = list1 + [1, 2]

In [181]:
list1.append([3,4])
list1

[0, 1, 2, 3, 4, 'a', 'b', 'c', [3, 4]]

In [182]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

## pop & remove - 꺼내고 제거하기

In [183]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [184]:
a = list1.pop()
print(list1)
print(a)

[0, 1, 2, 3]
4

In [185]:
b = list1.pop(1)
print(list1)
print(b)

[0, 2, 3]
1

In [186]:
list1

[0, 2, 3]

In [187]:
list1.remove(2)
list1

[0, 3]

## insert

In [194]:
list1

[0, 3]

In [195]:
list1.insert(1, 'a')
list1

[0, 'a', 3]

## count & sort & reverse & index

In [197]:
list1 = [1, 1, 2, 2, 3, 4]
list1

[1, 1, 2, 2, 3, 4]

In [198]:
list1.count(1), list1.count(3)

(2, 1)

In [200]:
list1.index(2)     ## 중복일 때에는 맨 처음 자리가 나타남

2

In [201]:
list1.reverse()
list1

[4, 3, 2, 2, 1, 1]

In [202]:
list1.sort()
list1

[1, 1, 2, 2, 3, 4]

In [203]:
list1.sort(reverse = True)
list1

[4, 3, 2, 2, 1, 1]

# 튜플 (tuple)

In [204]:
tuple1 = tuple(list1)
tuple1

(4, 3, 2, 2, 1, 1)

In [206]:
tuple1 = append(3)     ## 튜플은 값을 수정할 수 없어서 에러

NameError: name 'append' is not defined

# 리스트의 복사

In [208]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [209]:
list2 = list1     ## 값을 복사한게 아닌 주소를 복사
list2

[0, 1, 2, 3, 4]

In [210]:
list2.append(10)
list2[0] = 'a'
list2

['a', 1, 2, 3, 4, 10]

In [211]:
list1

['a', 1, 2, 3, 4, 10]

In [212]:
a = 10
b = a
a, b

(10, 10)

In [213]:
b = 20
a, b

(10, 20)

## copy  (값만 복사 하는 방법)

In [214]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [215]:
list2 = list1.copy()
list2

[0, 1, 2, 3, 4]

In [216]:
list2.append(10)
list2[0] = 'a'
list2

['a', 1, 2, 3, 4, 10]

In [217]:
list1

[0, 1, 2, 3, 4]

In [218]:
list1 = [
    [1,2,3], [4,5,6], [7,8,9]
]

In [219]:
list2 = list1.copy()
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [220]:
list2[0][1] = 'a'
list2

[[1, 'a', 3], [4, 5, 6], [7, 8, 9]]

In [221]:
list1

[[1, 'a', 3], [4, 5, 6], [7, 8, 9]]

## deepcopy  (리스트안의 리스트의 값만 복사 하는 방법)

In [222]:
list1 = [
    [1,2,3], [4,5,6], [7,8,9]
]

In [223]:
import copy

In [224]:
list2 = copy.deepcopy(list1)
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [225]:
list2[0][0] = 'a'
list2

[['a', 2, 3], [4, 5, 6], [7, 8, 9]]

In [226]:
list1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# 딕셔너리 (Dictionary)

In [227]:
a = {}
type(a)

dict

In [228]:
a = dict()
type(a)

dict

In [229]:
profile = {
    'name' : '김형순',
    'city' : 'Seoul',
    'height' : 163
}

In [230]:
profile["name"]

'김형순'

In [231]:
profile["city"]

'Seoul'

In [232]:
profile = dict(
    name = "김형순",
    city = "Seoul",
    height = 163
)
profile

{'name': '김형순', 'city': 'Seoul', 'height': 163}

In [233]:
profile = dict(
    name = "김형순",
    city = "Seoul",
    height = 163,
    friends = ["Minsoo", "Judy", "Poll"]
)
profile

{'name': '김형순',
 'city': 'Seoul',
 'height': 163,
 'friends': ['Minsoo', 'Judy', 'Poll']}

In [234]:
'김형순' in profile

False

In [235]:
'name' in profile    ### 딕셔너리는 Key 중심!!! (리스트는 value 중심)

True

# Dictionary 함수

In [236]:
profile['name'] = '손기은'
profile

{'name': '손기은',
 'city': 'Seoul',
 'height': 163,
 'friends': ['Minsoo', 'Judy', 'Poll']}

In [237]:
profile['name'] = '김형순'
profile

{'name': '김형순',
 'city': 'Seoul',
 'height': 163,
 'friends': ['Minsoo', 'Judy', 'Poll']}

In [238]:
profile['city'] = 'Busan'
profile

{'name': '김형순',
 'city': 'Busan',
 'height': 163,
 'friends': ['Minsoo', 'Judy', 'Poll']}

In [239]:
profile['math_score'] = 10
profile

{'name': '김형순',
 'city': 'Busan',
 'height': 163,
 'friends': ['Minsoo', 'Judy', 'Poll'],
 'math_score': 10}

In [241]:
profile.setdefault('english_score', 100)    ## setdefault : 이 key 가 없으면 이 값을 기본값으로 해라
profile

{'name': '김형순',
 'city': 'Busan',
 'height': 163,
 'friends': ['Minsoo', 'Judy', 'Poll'],
 'math_score': 10,
 'english_score': 100}

In [242]:
profile.setdefault('english_score', 50)    ## setdefault : 이 key 가 없으면 이 값을 기본값으로 해라
profile

{'name': '김형순',
 'city': 'Busan',
 'height': 163,
 'friends': ['Minsoo', 'Judy', 'Poll'],
 'math_score': 10,
 'english_score': 100}

In [244]:
profile.update({
    'math_score' : 50,
    'height' : 170
})
profile

{'name': '김형순',
 'city': 'Busan',
 'height': 170,
 'friends': ['Minsoo', 'Judy', 'Poll'],
 'math_score': 50,
 'english_score': 100}

In [245]:
profile['name']

'김형순'

In [246]:
profile['comment']

KeyError: 'comment'

# ☆★

In [247]:
profile.get('name')

'김형순'

In [249]:
print(profile.get('comment'))

None

In [250]:
profile.get('comment', [])     ## comment를 갖고 와줘 -> 없으면 [] 갖고 와줘

[]

In [251]:
profile

{'name': '김형순',
 'city': 'Busan',
 'height': 170,
 'friends': ['Minsoo', 'Judy', 'Poll'],
 'math_score': 50,
 'english_score': 100}

In [252]:
height = profile.pop('height')
print(height)
print(profile)

170
{'name': '김형순', 'city': 'Busan', 'friends': ['Minsoo', 'Judy', 'Poll'], 'math_score': 50, 'english_score': 100}

In [253]:
profile.keys()

dict_keys(['name', 'city', 'friends', 'math_score', 'english_score'])

In [254]:
profile.values()

dict_values(['김형순', 'Busan', ['Minsoo', 'Judy', 'Poll'], 50, 100])

In [255]:
profile.items()    ### 리스트의 요소들이 튜플이 되도록 출력

dict_items([('name', '김형순'), ('city', 'Busan'), ('friends', ['Minsoo', 'Judy', 'Poll']), ('math_score', 50), ('english_score', 100)])

In [256]:
profile.clear()
profile

{}

# Set  => 중복 제거해줌

In [257]:
set1 = {1, 2, 3, 3, 3, 3, 3}
set1

{1, 2, 3}

In [258]:
list1 = [1, 2, 3, 3, 3, 3, 3]
list(set(list1))

[1, 2, 3]

In [259]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1 , set2

({1, 2, 3}, {3, 4, 5})

# 집합 연산자 & 함수

In [260]:
set1 | set2    ## 합집합

{1, 2, 3, 4, 5}

In [263]:
set.union(set1, set2)

{1, 2, 3, 4, 5}

In [261]:
set1 & set2    ## 교집합

{3}

In [262]:
set.intersection(set1, set2)

{3}

In [264]:
set1 - set2

{1, 2}

In [266]:
set.difference(set1, set2)

{1, 2}

In [267]:
set1 ^ set2

{1, 2, 4, 5}

In [268]:
set.symmetric_difference(set1, set2)

{1, 2, 4, 5}

In [269]:
{1} <= set1    ## 부분집합인가?

True

In [272]:
{1}.issubset(set1)

True

In [270]:
set1 <= set2

False

In [271]:
set1.issubset(set2)

False

In [275]:
{1,2,3}.isdisjoint({4,5,6})   ## 배반의 관계인가?

True

In [274]:
{1,2,3}.isdisjoint({3,4,5})

False

In [276]:
set1

{1, 2, 3}

In [277]:
set1.add(4)
set1

{1, 2, 3, 4}

# Bool 형변환

In [278]:
bool(0), bool(1)

(False, True)

In [279]:
bool(0.0) , bool(0.2)

(False, True)

In [280]:
bool("Hello")

True

In [282]:
bool(" ")

True

In [283]:
bool("")

False

In [285]:
bool([1]), bool([])

(True, False)

In [286]:
bool({}), bool({'name' : 'h'})

(False, True)

# 제어문

## if문

In [287]:
x = 10

In [288]:
if x == 10:
    print("X는 10입니다.")

X는 10입니다.

In [289]:
if x == 10:
    print("X는 10입니다.")
    print("end code block")

X는 10입니다.
end code block

In [290]:
if x != 10:
    print("x는 10이 아닙니다.")

In [292]:
if x == 10:
    pass

In [293]:
if x > 3 and x < 20:
    print('x는 3보다 크고 20보다 작습니다.')

x는 3보다 크고 20보다 작습니다.

In [294]:
if x > 3:
    print("x는 3보다 큽니다.")
    if x >= 10:
        print("x는 10보다 크거나 같습니다.")
    if x < 20:
        print("x는 20보다 작습니다.")

x는 3보다 큽니다.
x는 10보다 크거나 같습니다.
x는 20보다 작습니다.

In [295]:
if x > 5:
    print("x는 5보다 큽니다.")
else:
    print("x는 5보다 작거나 같습니다.")

x는 5보다 큽니다.

In [296]:
x = 3
if x > 5:
    print("x는 5보다 큽니다.")
else:
    print("x는 5보다 작거나 같습니다.")

x는 5보다 작거나 같습니다.

In [297]:
if x > 5:
    print("x는 5보다 큽니다.")
elif x > 2:
    print("x는 2보다 큽니다.")
elif x > 0:
    print("x는 0보다 큽니다.")
else:
    print("x는 음수입니다.")

x는 2보다 큽니다.

In [1]:
x = 10

In [2]:
if x > 0:
    print("x는 0보다 큽니다.")    # 가장 처음이 참이면 다음 elif 는 넘어감!!
elif x > 3:
    print("x는 3보다 큽니다.")
elif x > 8:
    print("x는 8보다 큽니다.")
else:
    print("x는 음수입니다.")

x는 0보다 큽니다.

#### 연습문제1
사용자로부터 점수를 3개 입력받아     
모든 점수가 65점보다 클 경우 합격 아닐경우 불합격을 출력하세요    
단, 0~100 이 아닌 숫자가 입력된경우 잘못된 “잘못된 점수가 입력되었습니다" 를 출력하세요

In [4]:
a = int(input("점수1:"))
b = int(input("점수2:"))
c = int(input("점수3:"))

if (a < 0 or a > 100) or (b < 0 or b > 100) or (c < 0 or c > 100):
    print("잘못된 점수가 입력되었습니다.")
elif (a > 65) and (c > 65) and (c > 65):
    print("합격")
else:
    print("불합격")

점수1:40
점수2:30
점수3:20
불합격

In [ ]:
## 강사님
a = input("점수1:")
b = input("점수2:")
c = input("점수3:")

a,b,c = map(int, [a,b,c])

# if ((not (0 <= a <= 100)) or (not (0 <= a <= 100)) or (not (0 <= a <= 100)))
if ((a not in range(101)) or (b not in range(101)) or (c not in range(101))):
    print("잘못된 점수가 입력되었습니다.")
elif (a > 65) and (c > 65) and (c > 65):
    print("합격")
else:
    print("불합격")

#### 연습문제2
[홀수 짝수 판별기]   
사용자로부터 정수를 하나 입력받아     
입력한 정수가 홀수인지 짝수인지 판별하여라.    
(** 0은 짝수라 하자.)

In [16]:
a = int(input("정수를 입력해주세요:"))

if a % 2 == 0:
    print("{}는 짝수입니다.".format(a))
else :
    print("{}는 홀수입니다.".format(a))

정수를 입력해주세요:0
0는 짝수입니다.

# 반복문

## for문

In [17]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [18]:
for i in ['a', 'b', 'c']:
    print(i)

a
b
c

In [19]:
profile = {
    "name" : "김형순",
    "height" : 183,
    "city" : "Seoul"
}

In [20]:
for i in profile:
    print(i)

name
height
city

In [23]:
for i in "Orange":
    print(i)

O
r
a
n
g
e

#### 연습문제3
(1) 사용자로부터 정수를 입력받아, 해당 정수만큼 “안녕”을 출력하세요.    
(2) 사용자로부터 정수를 입력받아, 입력된 정수 만큼 별 찍기

In [24]:
a = int(input("정수를 입력해주세요:"))

for i in range(a):
    print("안녕")

정수를 입력해주세요:5
안녕
안녕
안녕
안녕
안녕

In [28]:
b = int(input("정수를 입력해주세요:"))

for i in range(b):
    print((i+1)*"*")

정수를 입력해주세요:5
*
**
***
****
*****